tlsection {
display: flex;
flex-direction:column;
width:100%;
margin-top:20px;
margin-bottom:20px;
}
tlsection heading{
margin-bottom:0.5em;
width:100%;
padding-left:0.5em;
padding-top:0.2em;
padding-bottom:0.2em;
color:#ffffff;
font-weight:bold;
font-size:18px;
background-image: linear-gradient(125deg, rgba(29,74,157,1), rgba(31,155,206,1));
}
tlsection content{
color:#000000;
padding-left:11em;
padding-right:0.5em;
font-family: 'NotoSans-Regular' !important;
text-align:justify;
font-size:16px;
font-weight:500;
line-height: 2em;
padding-bottom:1em;
}
tlsection ol,tlsection ul{
padding-left:2em !important;
margin:0em !important;
padding-bottom:1em !important;
}
tlsection ol li{
line-height:2em !important;
text-align: justify;
color:#000000;
padding-top:0.5em !important;
font-size:16px;
}

tlsection ul li{
list-style-type:disc !important;
line-height: 2em !important;
text-align: justify;
color:#000000;
font-size:16px;
}
tlsection ol li hr{
border-top: 1px solid rgba(0, 0, 0, 0.1);;
margin-bottom:0.5px;
margin-top:0px;
margin-left:-2em;
}

tlsection content p{
line-height: 2em !important;
margin-bottom:1.5em !important;
}
tlsection stafflist td{
  line-height: 2em !important;
  padding-right: 0.5em;
}
